<!-- <footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container position-fixed text-center">
    <small>Copyright &copy; <%= link_to "Gopal Jhade", "https://adaptclone.com", class: "text-white" %></small>
  </div>
</footer> -->

<!-- 
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>
    <small>Copyright &copy; <%= link_to "Gopal Jhade", "https://adaptclone.com", class: "text-white" %></small>
  </p>
</div>  -->